.shopCategorySection {
    padding-bottom: 120px; // Maintain the padding from your original design
  }
  
  .shopCategoryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Display three items per row by default
    gap: 15px; // Adjust gap between items
    justify-items: center; // Center items horizontally within each grid cell
  }
  
  .shopCategoryItem {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; // Use 100% width of the grid cell
    max-width: 200px; // Maximum width for items to prevent them from being too large
    height: auto;
  
    &:hover {
      transform: scale(1.05); // Add scaling effect on hover
    }
  }
  
  .shopCategoryImage {
    width: 100%;
    aspect-ratio: 1; // Maintain a square aspect ratio
    background-size: cover;
    background-position: center;
    border-radius: 50%; // Make the image round
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add box shadow
    border: 2px solid rgb(255, 255, 255); // White border around the image
  }
  
  .shopCategoryContent {
    padding: 10px;
    text-align: center;
  }
  
  .shopCategoryTitle {
    font-size: 1.25rem; // Set a base font size for category titles
    font-weight: bold;
  
    a {
      color: inherit;
      text-decoration: none; // Remove underline from links
     
    }
  }
  
  .shopCategoryItemCount {
    color: #555; // Color for the product count
  }
  
  // Media query for screens smaller than 600px
  @media (max-width: 780px) {
    .shopCategoryGrid {
      grid-template-columns: repeat(2, 1fr); // Display two items per row
      gap: 10px; // Adjust gap between items for smaller screens
    }
  
    .shopCategoryItem {
      max-width: 150px; // Reduce maximum width for smaller screens
    }
  
    .shopCategoryTitle {
      font-size: 0.9rem; // Adjust font size for smaller screens
    }
  }
  
  // Media query for screens smaller than 370px
  @media (max-width: 370px) {
    .shopCategoryGrid {
      grid-template-columns: repeat(1, 1fr); // Display one item per row on very small screens
      gap: 10px; // Adjust gap between items for very small screens
    }
  
    .shopCategoryItem {
      max-width: 100%; // Ensure item takes full width of the grid cell
    }
  
    .shopCategoryTitle {
      font-size: 0.8rem; // Further adjust font size for very small screens
    }
  }
  